.MessageContainer {
    display: flex;
    margin: 5px;
    align-items: center;
}

.MessageText {
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #2fd5ff;
    max-width: 250px;
    width: fit-content;
    height: fit-content;    
    padding: 0px 5px;
    text-align: left;
    word-wrap: break-word;
    line-height: 20px;
}

.RightMessage {
    justify-content: flex-end;
}

.RightMessageText {
    margin-left: 5px;
}

.LeftMessage {
    justify-content: flex-start;
}

.LeftMessageText {
    background-color: violet;
    margin-right: 5px;
}

.UserMessage {
    font-size: 14px;
    font-weight: 400;
}