.Homepage {
  height: 100%;
  display: flex;
}

.HomepageContainer {
  height: 400px;
  width: 600px;
  margin: auto;
  background-color: gray;
  border: 2px solid white;
  border-radius: 20px;
}

.HomepageTitle {
  margin: 50px 0px;
  font-size: 30px;
  font-weight: 500px;
  color: white;
}

.werewolfIcon {
  height: 30px;
  position: absolute;
  animation: shakeit 3s infinite;
  animation-direction: alternate;
}

@keyframes shakeit {
  0% {
    transform: translate(-15px, 20px);
  }

  100% {
    transform: translate(-15px, -20px);
  }
}

.HomepageInfo {
  padding: 20px 0px;
  margin: 0px 30px;
  border: 2px solid white;
  border-radius: 10px;
}

.HomepageInput {
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  outline: none;
  color: #999;
}

.HomepageBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomepageJoinRoom {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: center;
}

.HomepageButton {
  font-size: 20px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  color: gray;
  width: 100px;
  cursor: pointer;
}

.HomepageButtonCreate {
  margin-left: 15px;
}

.HomepageButton:active {
  opacity: 0.8;
  transform: scale(0.95);
}

.CreateOrJoinText {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

@media only screen and (max-width: 600px) {
  .HomepageContainer {
    width: 350px;
    height: 500px;
  }
  .HomepageBody {
    flex-direction: column;
  }
  
  .HomepageJoinRoom {
    margin-right: 0;
  }

  .HomepageButtonCreate {
    margin: 0;
  }
}