.Voice {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: gray;
}

.VoiceButton {
    color: white;
    font-size: 30px;
    padding: 8px 20px 15px 20px;
    cursor: pointer;
    transition: transform 0.5s;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.Voice:hover {
    opacity: 0.8;
}