.RolesTable {
    height: 100%;
    display: flex;
    margin: auto 30px;
    align-items: center;
}

.Roles {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    font-family: "Helvetica Neue", sans-serif;
}

