.Sound {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px 90px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: gray;
}

.SoundButton {
    color: white;
    font-size: 30px;
    padding: 10px 10px 6px 10px;
    cursor: pointer;
    transition: transform 0.5s;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.Sound:hover {
    opacity: 0.8;
}