.CardImage {
    width: 125px;
    height: 175px;
    margin: 10px;
    border-radius: 10%;
    border-color: gray;
    transition: all 0.4s;
}

.CardImage:hover {
    transform: scale(1.1);
}

.Name {
    font-size: 20px;
    font-weight: 500;
    font-family: "Helvetica Neue", sans-serif;
}

.ThreeRemainCardImage {
    width: 75px;
    height: 100px;
    margin: 0px 30px;
    border-radius: 10%;
    border-color: gray;
    transition: all 0.4s;
}

.ThreeRemainCardImage:hover {
    transform: scale(1.1);
}

.ThreeRemainCard {
    margin: 75px 200px;
}

.ThreeRemainCardName {
    font-size: 15px;
    font-weight: 500;
    font-family: "Helvetica Neue", sans-serif;
}
