.Clock {
    position: absolute;
    bottom: 210px;
    width: 150px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    cursor: default;
}

.ClockIcon {
    color: white;
    font-size: 20px;
    transition: transform 0.5s;
    background: rgba(0, 0, 0, 0);
    border: none;
    position: absolute; 
}

.ClockIconLeft {
    padding: 12px 8px;
}

.ClockIconRight {
    padding: 12px 120px;
}

.Time {
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin: auto;
    padding-bottom: 5px;
}