.Clock {
    position: absolute;
    top: 63%;
    min-width: 150px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

.ClockIcon {
    color: white;
    font-size: 20px;
    padding: 10px 10px 6px 10px;
    cursor: pointer;
    transition: transform 0.5s;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.Time {
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-right: 50px;
}