.Table {
    height: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}

.Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.Top {
    display: flex;
    justify-content: center;
}

.ThreeRemainCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ShowTableButton {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    background: rgba(0,0,0,0);
    border: none; /* Remove borders */
    color: gray; /* White text */
    cursor: pointer; /* Mouse pointer on hover */
}

.ShowTableButton:hover {
    opacity: 0.8;
}
