.App {
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100%;
}

.bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('assets/werewolf-one-night.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    z-index: -1;
}