@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  animation: shakeit 3s infinite;
  animation-direction: alternate;
}

@keyframes shakeit {
  0% {
    transform: translate(-15px, 20px);
  }

  100% {
    transform: translate(-15px, -20px);
  }
}

.flipped .card-flipped {
  transform: rotateY(0deg);
  transition-delay: 0s;
}

.card-cover-flipped {
  transform: rotateY(90deg);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.toast {
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 70px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 70px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 70px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 70px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@layer components {

  /* Homepage component */
  .btn {
    @apply rounded-lg px-4 py-2 bg-indigo-500 text-white hover:bg-indigo-800 hover:scale-105;
  }

  .input-homepage {
    @apply rounded-lg px-4 py-2 mb-4 font-semibold text-lg focus:outline-none;
  }

  .center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-semibold text-lg;
  }

  /* Table components */
  .card {
    @apply rounded-[10%] w-16 h-24 m-2 md:w-24 md:h-32;
  }

  .card-cover {
    @apply absolute top-0 rounded-[10%] w-16 h-24 m-2 md:w-24 md:h-32;
  }

  .table-left {
    @apply flex flex-col-reverse justify-center;
  }

  .table-right {
    @apply flex flex-col justify-center;
  }

  .table-center {
    @apply flex flex-col justify-center items-center;
  }

  .table-top {
    @apply flex justify-center;
  }

  .table-bottom {
    @apply flex flex-col justify-center items-end;
  }

  .table-three-card {
    @apply flex justify-center;
  }
}